@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(68, 112, 112);
    font-family: 'Nunito';
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    gap: 40px;
}

.boxes {
    width: 650px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 325px);
    transition: all 0.5s ease;
}

.box {
    width: 140px;
    height: 88px;
    overflow: hidden;
    box-shadow: 1px 1px 0px #d7b660, 2px 2px 0px #d7b660, 3px 3px 0px #d7b660, 4px 4px 0px #d7b660,
        5px 5px 0px #d7b660, 6px 6px 0px #d7b660;
    transition: transform 0.5s ease;
}

.box img {
    position: relative;
    top: 0;
    left: 0;
}

button {
    background-color: #d7b660;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 100px;
    left: calc(50% - 60px);
    border: none;
    box-shadow: 1px 1px 2px white;
}

button:focus {
    outline: none;
}
button:active {
    transform: translateY(4px);
}

.boxes {
    display: grid;
}

.boxes.shrink {
    width: 560px;
    height: 352px;
    top: calc(50% - 176px);
    left: calc(50% - 280px);
}

.box.animate {
    animation-name: rotate;
    animation-duration: 0.5s;
    transition: transform 0.5s ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}
